<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='{{ baseUrl() }}/public/css/bootstrap.min.css'>
  <title>{{ parameters.business_name }} - {{ meta.title }}</title>
</head>
<body>
  <h1>{{ meta.title }}</h1>
  <p>{{ content.message }}</p>
</body>
</html>
