<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	{% block meta %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{{ param('site_name','Default Site Name') }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
	{% endblock %}

	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/style.css") }}">
	{% endblock %}

	{% block javascripts_head %}
	<script src="{{ asset("js/libs/modernizr-2.5.3-respond-1.1.0.min.js") }}"></script>
	{% endblock %}
</head>
<body>
	<div id="header-container">
		<header class="wrapper clearfix">
		{% block header %}
			{% block logo %}
			<h1 id="title">{{ param('site_name','Default Site Name') }}</h1>
			{% endblock %}
			
			{% block navigation %}
			<nav>
				<ul>
					<li><a href="{{ url("home") }}">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="{{ url("contact") }}">Contact Us</a></li>
				</ul>
			</nav>
			{% endblock %}
		{% endblock %}
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			{% block content %}
			{% endblock %}
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			{% block footer %}
			Copyright 2012 DornCMS
			{% endblock %}
		</footer>
	</div>

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset("js/libs/jquery-1.7.2.min.js") }}"><\/script>')</script>
{% endblock %}

{% block analytics %}
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endblock %}

</body>
</html>
