{% extends "admin/layout.twig" %}

{% block title %}Edit Page - {{ page }}{% endblock %}

{% block navbars %}
<nav class='navbar navbar-default navbar-fixed-bottom'>
  <div class='container'>
      <button id='save' class='btn btn-primary navbar-btn'>Save Changes</button>
      <button id='preview' class='btn btn-info navbar-btn'>Preview Changes</button>
      <button id='cancel' class='btn btn-danger navbar-btn'>Cancel</button>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class='row'>
    <div class='col-md-12'>
      <h1>Edit Page - {{ page }}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <div id='content_form'></div>
    </div>
    <div class='col-md-6'>
      <div id='meta_form'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div id='template_form'></div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src='{{ baseUrl() }}/public/admin/js/jsoneditor.js'></script>
<script src='{{ baseUrl() }}/public/admin/js/ace/ace.js'></script>
<script src='{{ baseUrl() }}/public/admin/js/ace/mode-twig.js'></script>
<script>
JSONEditor.defaults.theme = 'bootstrap3';
$.getJSON('{{ baseUrl() }}/admin/api/page/home',function(data) {
  var meta = new JSONEditor(document.getElementById('meta_form'),{
    schema: data.metaschema,
    startval: data.meta,
    required_by_default: true,
    no_additional_properties: true
  });
  
  var content = new JSONEditor(document.getElementById('content_form'),{
    schema: data.contentschema,
    startval: data.content,
    required_by_default: true,
    no_additional_properties: true
  });
  
  var template = new JSONEditor(document.getElementById('template_form'),{
    schema: {
      "type": "object",
      "title": "Page Template",
      "properties": {
        "template": {
          "type": "string",
          "format": "twig"
        }
      },
      "options": {
        "collapsed": true
      }
    },
    startval: {
      template: data.template
    },
    required_by_default: true,
    no_additional_properties: true
  });
  
  $("#preview").on('click',function() {
    $.post('{{ baseUrl() }}/admin/preview',{
      content: JSON.stringify(content.getValue()),
      meta: JSON.stringify(meta.getValue()),
      template: JSON.stringify(template.getValue())
    },function(resp) {
      var preview = $("<div></div>")
        .css({
          position: 'absolute',
          top: 0,
          left: 0,
          right: 0,
          bottom: 0,
          zIndex: 999999,
          background: 'rgba(0,0,0,.9)'
        })
        .appendTo(document.body);
      
      var iframe_holder = $("<div></div>")
        .css({
          position: 'absolute',
          top: 0,
          left: 0,
          right: 0,
          bottom: 50
        })
        .appendTo(preview);
      
      var iframe = $("<iframe></iframe>")
        .attr('src','data:text/html;charset=utf-8,'+escape(resp))
        .css({
          position: 'absolute',
          top: 0,
          left: 0,
          background: 'white'
        })
        .attr('width','100%')
        .attr('height','100%')
        .appendTo(iframe_holder);
      
      var close = $("<button></button>")
        .addClass('btn btn-primary')
        .text('Close Preview')
        .css({
          position: 'absolute',
          bottom: 5,
          left: 10
        })
        .appendTo(preview)
        .on('click',function() {
          preview.remove();
        });
      
      console.log(resp);
    });
  });
});
</script>
{% endblock %}
