{% extends "admin/main_layout.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{% for file in javascripts %}
	<script src="{{ asset('admin/js/'~file) }}"></script>
	{% endfor %}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{% for file in stylesheets %}
	<link href="{{ asset('admin/css/'~file) }}" rel='stylesheet' language="text/css"/>
	{% endfor %}
{% endblock %}

{% block content %}
	<h1>Edit Config {{ file.name }}</h1>
	
	{{ file.editor.editorHtml|raw }}
	
{% endblock %}
