{% extends "admin/main_layout.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{% for file in javascripts %}
	<script src="{{ asset('admin/js/'~file) }}"></script>
	{% endfor %}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{% for file in stylesheets %}
	<link href="{{ asset('admin/css/'~file) }}" rel='stylesheet' language="text/css"/>
	{% endfor %}
{% endblock %}

{% block content %}
	<div id='editor-holder' style='position:absolute; bottom: 20px; top: 0; width: 100%; z-index: 1;'>
			{{ editor.editor.editorHtml|raw }}
	</div>
	<div id='action_holder' style='position:absolute; bottom: 0; left:0; height: 20px; z-index: 99;'>
		<a href='#'>Publish</a>
		<a href='#'>Preview</a>
	</div>
{% endblock %}
