{% extends "admin/main_layout.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript' src='{{asset("admin/js/jqueryFileTree.js")}}'></script>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel='stylesheet' href='{{asset("admin/css/jqueryFileTree.css")}}' />
{% endblock %}

{% block content %}

<div>
	<div id='left-side' style='float:left; width: 180px;'>
		<div style='height: 35px; background-color: #ccc;'>
			<a href='#'>refresh</a>
		</div>
		<div id='browser'></div>
	</div>
	<div id='right-side' style='margin-left: 180px;'>
		<div class="wrap" id='tab-list-holder'>
			<ul class="tab-list" id='tab-list'>
			   <li>
				 <span class='tab'>
					<a href='#page-1' class='link'>Page 3</a>
					<a href='#' class='close'>x</a>
				</span>
			   </li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div id='editor-holder' style='overflow:hidden;'>
		</div>
	</div>
</div>
<script>	
$(document).ready( function() {	
	var TemplateEditor = new editorTabs(
		$("#tab-list"),
		$("#editor-holder")
	);

	$('#editor-holder').height(
		$(window).height() - $('header').height() - $('#tab-list-holder').height() - $('footer').height()
	);
	
	var edit_url = "{{ url("edit_template",{ file: "__file__", ajax: 'true' })|raw }}";
	
	$('#browser').fileTree({ 
		root: '/',
		script: '{{ url("list_templates") }}'
	}, function(file) {
		if(file.substr(0,1) == '/') file = file.substr(1);
		
		TemplateEditor.open(edit_url.replace("__file__", file),file);
	});
});
</script>
	
{% endblock %}
